body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('https://i.imgur.com/2baaUTS.jpg');
  background-size: cover;
}

a {
  color: white;
}


nav {
  grid-area: nav;
  background-color: purple;
  display: flex;
  align-items: center;
  padding: 0 20px 0 30px;
  border-style: solid;
  border-color: yellow;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  text-align: right;
}




nav > h1 {
  color: white;
}

#home-page {
  border-style: solid;
  margin-top: 65px;
  height: 300px;
  border-color: yellow;
  background-color: purple;
}

#vacations-page {
  border-style: solid;
  margin-top: 65px;
  border-color: yellow;
  height: 300px;
  background-color: purple;
}

#vacations-page > h1 {
  color: white;
}

#add-vac {
  border-style: solid;
  border-color: yellow;
  background-color: purple;
  height: 300px;
}

#add-vac > h2 {
  color: white;
}

tr {
  color: white;
}

#view-pg {
  border-style: solid;
  border-color: yellow;
  background-color: purple;
}

#view-pg > h1,h2,p {
  color: white;
}

#edit-pg {
  border-style: solid;
  border-color: yellow;
  background-color: purple;
}

#edit-pg > h1{
  color: white;
}

