<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <nav>
        <h1></h1>
        <a href="/users" class="home">Home Page</a>
        <a href="/vacations">My Vacations</a>
    </nav>

    <main id="edit-pg">
        <h1>Edit Vacation: <%= vacation.title%></h1>
        <form id="update-vacation-form" method="POST" action="/vacations/<%= vacation._id %>?_method=PUT" method="POST" autocomplete="off"> 
            <label>Edit Vacation Title:
                    <input type="text" name="title" value="<%= vacation.title%>">
            </label><br><br>
            <label>Edit Description:
                    <textarea name="description"><%= vacation.description%></textarea>
            </label><br><br>
            <button type="submit">Update Vacation</button>
        </form>
    </main>
</body>
</html>