<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
</head>
<body>
    <nav>
        <h1>Neon Vacation Log</h1>
          <a href="/users" class="home">Home Page</a>
              <% if (user) { %>
                  <a href="/vacations">My Vacations</a>
                  <a href="/logout"><i class="log"></i>Log Out</a>
              <% } else { %>
                  <a href="/auth/google"><i class="log"></i>Login</a>
              <% } %>
      </nav>
      <main id="home-page">
          <h1>Welcome to Neon Vacations</h1>
          <h3>Create Your Own Vacation Log</h3>
          <ul>
              <li>Create a vacation module</li>
              <li>Add descriptions for your vacation</li>
              <li>Add destinations for your vacation</li>
              <li>Add images from your vacation</li>
          </ul>

          
          
          
          

      </main>

</body>
</html>